<app-navbar></app-navbar>


<div class="p-4 flex-grow-1">
  <div class="content">
    <div class="text-content">
     <h1>Nutricionista</h1>    
     <h2>Sejam bem-vindos</h2>

        <p>
          A Sociedade de São Vicente de Paulo (SSVP) é uma organização civil de leigos, homens e mulheres, dedicada ao trabalho cristão de Caridade.
        </p>

        <div class="button-container">
          <button type="button" class="btn btn-secondary" (click)="routerNutri()">Cadastrar</button>
          <button type="button" class="btn btn-secondary" (click)="routerNutriLista()">Listar</button>
      </div>

    </div>
    <div class="circle">
        <img src="assets/img/Doctor-cuate.png" alt="illustration2" class="illustration2" />
    </div>
</div>
</div>

